In [1]:
# pandas 1차원배열의 series, 2차원배열의 DataFrame
# numpy가 2차원배열을 이용해 계산식을 도와주는 lib였다면
# RDB의 row, column을 계산하는 lib입니다.

import pandas as pd
s=pd.Series([1440000, 110000, 380000, 50000], index=["대전", "논산", "세종", "계룡"]) 
print(s)
print(s.index)
print(s.values)

s.name = '도시별 인구'
s.index.name = '도시'
print(s)

대전    1440000
논산     110000
세종     380000
계룡      50000
dtype: int64
Index(['대전', '논산', '세종', '계룡'], dtype='object')
[1440000  110000  380000   50000]
도시
대전    1440000
논산     110000
세종     380000
계룡      50000
Name: 도시별 인구, dtype: int64

In [ ]:
# 시리즈 연산
s=pd.Series([1440000, 110000, 380000, 50000], index=["대전", "논산", "세종", "계룡"]) 
s=s/10000        # 값만 계산 인구가 만단위로 나오겠지?
print(s)

print("------------")
# 시리즈에서 원하는 데이터 얻기
print("s[1] : " + s[1])
print("s[1:3]: " + s[1:3])
print("s[[0,1,2]]: " + s[[0,1,2]])
print("index로 슬라이싱", s["대전":"세종"])
print("대전", s.대전)

In [14]:
s=pd.Series([1440000, 110000, 380000, 50000], index=["대전", "논산", "세종", "계룡"]) 

print("대전" in s)
print("서울" in s)
del s["논산"]
print("논산" in s)
for k,v in s.items():
    print(k+ " : " + str(v))

True
False
False
대전 : 1440000
세종 : 380000
계룡 : 50000

In [36]:
# pd.DataFrame        series가 여러개 있는거?
s=pd.Series([1440000, 110000, 380000, 50000], index=["대전", "논산", "세종", "계룡"]) 
dict = {"대전" : 1_440_000, "논산": 110000, "세종" : 380000, "계룡":50000}
s=pd.Series(dict)
print(s)

# 데이터 프레임은 Series가 여러개 있는거..    or dict 의 값이 배열(리스트)인거
# dict2 =  {"대전" : [140,150,144], "논산": [20,15,11], "세종" : [10,20,30], "계룡":[5,7,4]}
dict2 =  {"도시" : ["대전","논산","세종","계룡"], 2016 : [140,20,10,5], 2020:[150,15,20,7], 2024:[144,11,30,4]}
df = pd.DataFrame(dict2)
print(df)

print(df.index)
print(df.values)

대전    1440000
논산     110000
세종     380000
계룡      50000
dtype: int64
   도시  2016  2020  2024
0  대전   140   150   144
1  논산    20    15    11
2  세종    10    20    30
3  계룡     5     7     4
RangeIndex(start=0, stop=4, step=1)
[['대전' 140 150 144]
 ['논산' 20 15 11]
 ['세종' 10 20 30]
 ['계룡' 5 7 4]]

In [44]:
dict2 =  {2016 : [140,20,10,5], 2020:[150,15,20,7], 2024:[144,11,30,4]}
df=pd.DataFrame(dict2, index = ["대전","논산","세종","계룡"])

#아까했던 원하는 데이터 얻기
print(df[1:3])
print(df)
# print(df.loc["대전"])
print(df.loc["대전" : "계룡"])
print(df.iloc[1:3])

    2016  2020  2024
논산    20    15    11
세종    10    20    30
    2016  2020  2024
대전   140   150   144
논산    20    15    11
세종    10    20    30
계룡     5     7     4
    2016  2020  2024
대전   140   150   144
논산    20    15    11
세종    10    20    30
계룡     5     7     4
    2016  2020  2024
논산    20    15    11
세종    10    20    30

In [46]:
%%writefile sample1.csv
c1, c2, c3
1, 1.1, one
2, 2.2, two
3, 3.3, three

Overwriting sample1.csv

In [48]:
# %%는 맨 첫줄에만 쓸 수 있다.
# read_csv 는 DataFrame 타입으로 리턴해준다.
df = pd.read_csv("sample1.csv")
print(df)

   c1   c2      c3
0   1  1.1     one
1   2  2.2     two
2   3  3.3   three

In [50]:
# 쓰기
df.to_csv("sample2.csv")

In [3]:
# 데이터 조작
import numpy as np
s=pd.Series(range(10))
s[3] = np.nan
print(s.count())   # nan을 제외한 카운트

9

In [59]:
df=pd.DataFrame(np.random.randint(5,size=(4,4)))
print(df)
df.iloc[0,0] = np.nan
df.iloc[2,3] = np.nan
print(df)
print(df.count())    # 열의 데이터 개수. 근데 아래로 출력되서 헷갈림

   0  1  2  3
0  0  0  3  0
1  1  2  1  1
2  4  4  4  1
3  0  0  2  2
     0  1  2    3
0  NaN  0  3  0.0
1  1.0  2  1  1.0
2  4.0  4  4  NaN
3  0.0  0  2  2.0
0    3
1    4
2    4
3    3
dtype: int64

In [65]:
s2 = pd.Series(np.random.randint(6, size=100))
print(s2.value_counts())   # 0~5까지 출연한(중복된) 횟수

0    20
1    19
5    18
4    18
2    15
3    10
Name: count, dtype: int64

In [6]:
# 합계
df = pd.DataFrame(np.arange(32).reshape(4,8))      # 4X8
print(df)


print("--------------------------------")
df['columnsum'  ] = df.sum(axis=0)
df['rowsum'] = df.sum(axis=1)
print(df)

# print(df.sum(axis=0))    # 열에 있는 값들을 더한 것
# print(df.sum(axis=1))    # 행에 있는 값들을 더한 것

    0   1   2   3   4   5   6   7
0   0   1   2   3   4   5   6   7
1   8   9  10  11  12  13  14  15
2  16  17  18  19  20  21  22  23
3  24  25  26  27  28  29  30  31
--------------------------------
    0   1   2   3   4   5   6   7  columnsum  rowsum
0   0   1   2   3   4   5   6   7         48      76
1   8   9  10  11  12  13  14  15         52     144
2  16  17  18  19  20  21  22  23         56     212
3  24  25  26  27  28  29  30  31         60     280